* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #0e0d0d;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

header {
    background: #253d26;
    color: #fff;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.logo-img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9900;
}

/* Responsive Navbar Toggle */
.nav-toggle {
    display: none; /* Hide checkbox by default */
}

.nav-toggle-label {
    display: none; /* Hide label by default */
    cursor: pointer;
    padding: 10px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 25px;
    border-radius: 2px;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    top: -8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

.nav-toggle:checked + .nav-toggle-label span {
    background-color: transparent;
}

.nav-toggle:checked + .nav-toggle-label span::before {
    top: 0;
    transform: rotate(45deg);
}

.nav-toggle:checked + .nav-toggle-label span::after {
    top: 0;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px 5%;
    }

    .nav-links {
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #253d26;
        z-index: 10;
        transition: max-height 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
    }

    .nav-toggle {
        display: block; /* Show checkbox in mobile view */
    }

    .nav-toggle-label {
        display: block; /* Show label (hamburger menu) in mobile view */
    }

    .nav-toggle:checked ~ nav .nav-links {
        display: flex; /* Show navigation links when checkbox is checked */
        max-height: 300px; /* Adjust as needed */
    }

    .nav-links li {
        margin: 10px 0; /* Adjust margin for mobile view */
    }

    .nav-links a {
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 0; /* Start with opacity 0 for fade-in effect */
        animation: fadeIn 0.5s forwards; /* Animation for fade-in effect */
        animation-delay: 0.3s; /* Delay each list item animation */
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.cta {
    background: #ff9900;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta:hover {
    background: #e68a00;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dfdfdf;
    text-align: center;
    padding: 0 20px;
    background-color: #eef5f9;
    position: relative;
    overflow: hidden;
    transition: background-color 1s ease;
}

.hero .hero-content {
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Light dark transparent overlay */
        url('Plants.jpg') no-repeat center center/cover;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 0;
}

.hero.background-changed::before {
    opacity: 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }
}

.btn-primary, .btn-secondary, .btn-tertiary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin: 5px;
    transition: background 0.3s, transform 0.3s;
}

.btn-primary {
    background: #ff9900;
}

.btn-primary:hover {
    background: #e68a00;
    transform: scale(1.05);
}

.btn-secondary {
    background: #18ad0a;
}

.btn-secondary:hover {
    background: #444;
    transform: scale(1.05);
}

.btn-tertiary {
    background: #007bff;
}

.btn-tertiary:hover {
    background: #0056b3;
    transform: scale(1.05);
}

.services, .projects, .about-us, .testimonials, .contact {
    background-color: #fff;
    padding: 6px 12px;
    text-align: center;
}

.services h2, .projects h2, .about-us h2, .testimonials h2, .contact h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .services h2, .projects h2, .about-us h2, .testimonials h2, .contact h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
}

.service-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    background: #91be86;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s;
}

.service-box:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .service-box {
        width: 100%;
        margin-bottom: 20px;
    }
}

.service-box .icon {
    font-size: 14px;
    margin-bottom: 12px;
}

.projects {
    text-align: center;
    padding: 50px 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px; 
    justify-content: center; 
    margin: 0 auto;
}

.project {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.project img {
    display: block; /* Ensure image doesn't have extra space */
    width: 100%;
    height: auto;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    transition: transform 0.3s ease;
    border-radius: 8px; /* Rounded corners */
}

.project:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px; /* Match border-radius of .project */
}

.project:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.project-description {
    text-align: center;
    padding: 20px;
}

.project-description h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

.project:hover .project-description {
    color: white; /* Change text color on hover */
}

.about-us .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.about-us .about-content p {
    flex: 1 1 60%;
    padding: 0 20px;
}

.about-us .about-content img {
    flex: 1 1 30%;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .about-us .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-us .about-content p {
        flex: 1 1 100%;
        padding: 10px 20px;
    }

    .about-us .about-content img {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.testimonials .testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.testimonial-card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%;
    transition: transform 0.3s;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .testimonial-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

.footer {
    background-color: #cad3ca;
    padding: 15px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.social-media a {
    margin: 0 5px;
    font-size: 20px;
}

.newsletter input {
    width: 150px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .social-media a {
        margin: 5px;
        font-size: 18px;
    }

    .newsletter input {
        width: 100%;
        margin-bottom: 10px;
    }
}